name: Build Android APK

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Build APK with Buildozer
      uses: artem-kobilev/action-buildozer@v1
      
    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: app-apk
        path: bin/*.apk
